<!DOCTYPE html>
<html>
  <head>
    <title>Team Career Camp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/interviews">Interviews</a></li>
        <li><a href="/results">Results</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </body>
</html>
